<!DOCTYPE html>
‎<html lang="ru">
‎<head>
‎    <meta charset="UTF-8">
‎    <title>Вход</title>
‎</head>
‎<body>
‎    <h2>Вход в систему</h2>
‎    <form action="/do_login" method="POST">
‎        <p><label>Логин:</label><br>
‎        <input type="text" name="login" required></p>
‎        
‎        <p><label>Пароль:</label><br>
‎        <input type="password" name="password" required></p>
‎        
‎        <button type="submit">Войти</button>
‎    </form>
‎    <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
‎</body>
‎</html>