‎<!DOCTYPE html>
‎<html lang="ru">
‎<head>
‎    <meta charset="UTF-8">
‎    <title>Регистрация</title>
‎</head>
‎<body>
‎    <h2>Регистрация нового пользователя</h2>
‎    <form action="/do_register" method="POST">
‎        <p><label>Логин:</label><br>
‎        <input type="text" name="login" required></p>
‎        
‎        <p><label>Пароль:</label><br>
‎        <input type="password" name="password" required></p>
‎        
‎        <button type="submit">Зарегистрироваться</button>
‎    </form>
‎    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
‎</body>
‎</html>